
/* .container *:not(:last-child) {
	border-bottom: 2px solid #1f62a9;
} */

.container {
	width: 320px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	color: #007bff;
	margin-bottom: 10px;
}

.text {
	font-size: 18px;
	margin-bottom: 10px;
}

.content {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.author {
	font-size: 14px;
	color: #555;
}

/* Пример стилей для формы редактирования записи */
form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.comment {
	display: block;
	margin: 10px 0;
}

.comment span {
	display: block;
}

.comment_author {
	font-size: 14px;
}

.comment_date {
	font-size: 12px;
	color: #929292;
}

.comment_form {
	width: 320px;
}

.comment_form textarea {
	height: auto;
	resize: none;
}